body {
    padding-top: 70px;
    background-color: #6E6E6E;
}

header{
    background-color: black;
}
main {
    font-family: "Audiowide",sans-serif;
}
footer {
    background-color: #6ea703;
    color: white;
    padding-bottom: 10px;
    font-family: "Audiowide",sans-serif;
}

.columns {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: #43fa27;
    color: black;
    cursor: pointer;
    border-radius: 14px;
    border: 1px solid black;
    padding: 6px;
} 
#myBtn:hover {
    background-color: #3a6f01;
    color: white;
}


.wrap-nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: "Audiowide", sans-serif;
}

.logo-img {
    margin: 15px 0 0 15px;
    max-width: 65px;
    border-radius: 15px;
    transition-duration: 1s;
}
.logo-img:hover {
    padding: 4px;
    background-color: rgb(83, 83, 83);
}


.nav-btn {
    background-color: white;
    color: black;
    padding: 7px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.wrap-nav .nav-btn:hover {
    font-weight: 600;
}

.nav-btn:hover {
    background-color: rgb(202, 202, 202);
    color: black;
}

.navbar-fixed {
    float: none;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-top: -20px;
}

.navbar {
    background-color: transparent;
    text-align: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Audiowide", sans-serif;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 
.dropdown-content #nav-btn-dd {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    display: flex;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Audiowide", sans-serif;
}
  
.dropdown-content #nav-btn-dd:hover {
    background-color: #ddd;
    font-weight: 600;
    font-family: "Audiowide", sans-serif;
}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: rgb(226, 225, 225);}

/*********************************************************************/
.slick-carousel {
    max-width: 1650px;
    margin-left: 4.5%;
}

.wrap-title {
    margin-top: 5%;
}
.title {
    color:#BAFF39;
    padding-left: 20px;
    margin-bottom: -30px;
}
.wrap-ef {
    padding-right: 25px;
    margin: auto;
}
#ef-h {
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'vegaultra';
    letter-spacing: -0.40px;
}


#slick-buttons {
    display: flex;
    margin: auto;
    margin-top: 15px;
    justify-content: start;
}
#slick .arrow_prev {
    position: relative;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 50px;
}
#slick .arrow_next {
    position: relative;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 50px;
}
#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.65);
    cursor: pointer;
    font-size: 20px;
}
#arrow:hover {
    color:white;

    text-shadow: 0px 0px 8px white;
}


img {
    border-radius: 16px;
}
.wrap-img {
    position: relative;
    padding-bottom: 66.2%;
}
.wrap-img img {
    height: 95%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.threeArt {
    margin-top: 20px;
}


#art-one-style {
    padding: 10px;
    background-color: #8b8b8b;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(51, 51, 51);
}
#art-one-style img {
    border: 1px solid gray;
    border-radius: 25px;
}
#art-one-style:hover {
    background-color: #a3e429;
    color: rgb(0, 0, 0);
}


.wrap-post {
    margin-top: -5px;
}
.wrap-header {
    margin-bottom: 20px;
    font-size: 24px;
}
.wrap-postmeta {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 16px;
    font-weight: 700;
}
/*********************************************************************/

.sub-banner {
    background-color: #98e40c;
    color: black;
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 8px;
    font-size: 25px;
    font-weight: 900;
    border-radius: 15px;
}

.sub-banner a {
    text-decoration: underline;
}


/*********************************************************************/


.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
}
  
.flex-footer {
    display: flex;
    justify-content: center;
}
.item-2 {
    margin-left: 30%;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 0;
}
  
.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
  
.footer-clean ul a:hover {
    opacity:1;
    font-weight: 600;
}
  
.footer-clean .item.social {
    text-align:right;
}
  
@media (max-width:767px) {
    .footer-clean .item {
        text-align:center;
        padding-bottom:20px;
    }
}
  
@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align:center;
    }
}
  
.footer-clean .item.social > a {
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}
  
.footer-clean .item.social > a:hover {
    opacity:1;
}
  
  
.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size: 14px;
    opacity:0.6;
}