body {
    margin-top: 105px;    
}

header{
    background-color: black;
}
main {
    background-color: #333;
    padding: 0px 18px;
}

.wrap-nav {
    display: flex;
    align-items: center;
}

.logo-img {
    margin: 10px 0 0 10px;
    padding: 8px 8px 8px 8px;
    max-width: 80px;
    border-radius: 25px;
}

.nav-btn {
    background-color: white;
    color: black;
    padding: 9px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 10px;
}
.nav-btn:hover {
    background-color: rgb(226, 225, 225);
    color: black;
}


.navbar-fixed {
    float:none ;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    background-color: transparent;
    text-align: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(226, 225, 225);}

/*********************************************************************/

.slick-carousel {
    max-width: 1500px;
}

.wrap-title {
    margin-top: 5%;
}
.title {
    color: white;
}
.wrap-ef {
    padding-right: 25px;
    margin: auto;
}
#ef-h {
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'vegaultra';
    letter-spacing: -0.40px;
}


#slick-buttons {
    display: flex;
    margin: auto;
    margin-top: 15px;
    justify-content: center;
}
#slick .arrow_prev {
    position: relative;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 50px;
}
#slick .arrow_next {
    position: relative;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 50px;
}
#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}


img {
    border-radius: 25px;
}
.wrap-img {
    position: relative;
    padding-bottom: 66.2%;
}
.wrap-img img {
    height: 95%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
.wrap-img {
    position: relative;
}


.threeArt {
    margin-top: 20px;
}


article {
    padding: 10px;
    background-color: #575757;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
article:hover {
    background-color: #a3a3a3;
    color: rgb(0, 0, 0);
}

.wrap-post {
    margin-top: -5px;
}
.wrap-header {
    margin-bottom: 20px;
    font-size: 22px;
}
.wrap-postmeta {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 14px;
}




