body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    
}

header{
    padding: 10px;
    margin-bottom: 15px;
    background-color: black;
}
main {
    background-color: #333;
    padding: 0px 18px;
}

.nav-dd {
    padding-top: 5px;
}

.nav-a {
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.nav-a:hover {
    color: black;
    background-color: white;
}

.logo-img {
    padding: 8px 8px 8px 8px;
    max-width: 80px;
    border-radius: 25px;
}

.navbar {
    background-color: transparent;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #201f1f;
}

.dd-menu:hover {
    background-color: #333;
}

/*********************************************************************/

.slick-carousel {
    max-width: 1500px;
}

.wrap-title {
    margin-top: 5%;
}
.title {
    color: white;
}
.wrap-ef {
    padding-right: 25px;
    margin: auto;
}
#ef-h {
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px auto;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'vegaultra';
    letter-spacing: -0.40px;
}


#slick-buttons {
    display: flex;
    margin: auto;
    margin-top: 15px;
    justify-content: center;
}
#slick .arrow_prev {
    position: relative;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 50px;
}
#slick .arrow_next {
    position: relative;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 50px;
}
#arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

img {
    max-width:100%;
}
.wrap-img {
    position: relative;
    padding-bottom: 66.2%;
}
.wrap-img img {
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    object-position: center;
}
.wrap-img {
    position: relative;
}
.wrap-img1 img {
    width: 20%;
    position: absolute;
    left: 82%;
    bottom: 0%;
    background-color: #C7D2BD;
    padding: 15px 5px 5px 7px;
}